/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

body{
    background-color: #EAF0FE;
}
h1{
 
    color: #002D5B;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 47px;

}
p{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400; 
}