/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

 
.hero{
    background: #EAF0FE;

 
}
.hero h1{
    color: #002D5B;
    font-family: 'Playfair Display', serif;
    font-size: 47px;
    text-align: left;
}
.hero p {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400; 
    font-size: 14px;
    margin: 0;
    text-align: left;
    line-height: 2;
    color: #4E5652;
}

.p-2{
    font-size: 20px;
    margin-top: 30px;
    line-height: 1;
   
}
a{
    color: black;
}
a:hover{
color: #1bae70;
}